.div{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.center{
    display: flex;
    width: 620px;
    flex-wrap: wrap;
    gap: 8px;
}
.center button{
    width: 200px;
    height: 200px;
    background-color: rgb(245, 239, 239);
    border: none;
    font-size: 8rem;
    color: rgb(57, 164, 197);
    display: grid;
    place-items: center;
    border-radius: 10px;
}
.center button:hover{
    box-shadow: 0 0 10px grey;
}
.p1{
    position: absolute;
    top:45%;
    left: 15%;
}
.p2{
    position: absolute;
    top:45%;
    right: 15%;
}

.colour{
  background-color: aqua;
}

.win{
    width: 800px;
    height: 120px;
    background-color: beige;
    position: absolute;
    top: 37%;
    left: 24%;
    margin: 0%;
    text-align: center;
    padding-top: 5%;
}