#footer{
    background-color: black;
}


#footer #foot1{
    display: flex;
    justify-content: space-evenly;
    width: 96%;
    color: #fff;
    padding: 3% 2%;
    font-weight: 600;
}
#footer #foot1 span{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
}
#footer #foot1 .i{
    margin-left: 45%;
    margin-bottom: 5%;
}
#footer #foot1 .icon{
    margin-left: 28%;
}
#footer #foot1 .span{
    width:100%
}


#footer #foot2{
    display: flex;
    justify-content: space-evenly;
    width: 96%;
    color: #fff;
    padding: 3% 2%;
}
#footer #foot2 #one{
width:20%;
display: flex;
flex-wrap: wrap;
height: 100%;
}
#footer #foot2 #one h3{
    width: 100%;
}
#footer #foot2 #one p{
    width: 48%;
    margin: 2.5% 1%;
    font-weight: 700;
}
#footer #foot2 #two{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}
#footer #foot2 #two h2{
    width: 100%;
}
#footer #foot2 #two div{
    width: 27%;
    background-color: #fff;
    margin: 0 3% 3% 0;
}
#footer #foot2 #two img{
    width: 60%;
    padding: 10% 3% 4% 3%;
    margin-left: 18%;
}
#footer #foot2 #three{
    width: 30%;
}
#footer #foot2 #three input{
    width: 70%;
    height: 40px;
    margin-bottom: 5%;
    outline: none;
    padding-left: 3%;
}
#footer #foot2 #three button{
    width: 40%;
    height: 50px;
    color: #fff;
    background-color: #6bb7be;
    border: none;
    font-size: 1.1rem;
}