#banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:2% 2%;
    background-color:rgb(243, 237, 243);
}
#part1{
    width: 40%;
    margin: 0 6%;
    padding: 3% 0%;

}
#part2{
    width: 42%;
    margin: 0 6% 0 0;
}
#part1 h1{
    margin:0;
    font-size:2.5rem;
    font-weight: 700;
}
#part1 p{
    margin:3% 4% 3% 0;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 500;
    color: #000;
}
#part1 #btn button{
    margin: 3% 3%;
    width: 25%;
    height: 40px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
}
#part1 #btn #btn1{
    background-color: #f89646;
}
#part1 #btn #btn2{
    background-color: #6bb7be;
}
#part2 img{
    width: 100%;
}