.call {
    padding-top: 6%;
    background-color: #fff;
    margin: 0 6%;
}

.C-outer {
    padding: 1.5%;
    margin: 2% 2% 0 2%;
    background-color: #EFFDF5 !important;
}

.C-inner {
    display: flex;
    padding: 1.7% 0 1.7% 1.7%;
    background-color: #fff;
    border: 1px dashed rgba(0, 185, 142, .3);
}

.C-img {
    width: 50%;
}

.C-cont {
    width: 50%;
    padding: 2% 0 2% 2%;
}


.C-img img {
    width: 100%;
    border-radius: 5px;
}

.C-cont h1 {
    font-size: 2.6rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #0E2E50;
    padding-left: 3%;
    margin-top: 8%;
}

.C-cont p {
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
    padding-left: 3%;
    padding-right: 7%;
    margin-bottom: 7%;
}

.C-cont a{
    text-decoration: none;
    padding: 3% 4%;
    background-color: #33c7a5;
    color: #fff;
    border-radius: 5px;
    margin-left: 3%;
    font-size: 1.08rem;
    font-family: "Heebo",sans-serif;
    cursor: pointer;
    font-weight: 500;
}

.C-a{
    font-size: 1rem;
    background-color: #0E2E50!important;
}

.phn{
    margin-right: 1%;
    font-size: 1rem;
}

.day{
    margin-right: 1%;
    font-size: 1rem;
}