

#header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom:solid 2px black ;margin:0 2%

}
#header #center{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
#header #corner{
    display: flex;
    justify-content: space-between;
    width: 9%;
}

