.agent {
    margin: 0 6%;
    background-color: #fff;
}

.agent h1 {
    margin: 0;
    padding-top: 5%;
    text-align: center;
    font-size: 2.9rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #0E2E50;
}

.agent p {
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
    text-align: center;
    margin: 2% 28%;
}

.A-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}



@media only screen and (min-width:150px)and (max-width:480px) {
    .agent {
        margin: 0;
    }

    .A-list {
        flex-wrap: wrap;
    }

    .agent h1 {
        font-size: 2rem;
    }

    .agent p {
        margin: 2% 6%;
    }

}

@media only screen and (min-width:480px)and (max-width:720px) {
    .agent {
        margin: 0;
    }

    .A-list {
        flex-wrap: wrap;
    }

    .agent h1 {
        font-size: 2rem;
    }

    .agent p {
        margin: 2% 6%;
    }

}

@media only screen and (min-width:720px)and (max-width:1000px) {
    .agent {
        margin: 0;
    }

    .A-list {
        flex-wrap: wrap;
    }

    .agent h1 {
        font-size: 2rem;
    }

    .agent p {
        margin: 2% 6%;
    }

}

@media only screen and (min-width:1000px)and (max-width:1350px) {
    .agent p {
        margin: 2% 16%;
    }

}