#Blog-div{
    width:28%;
    box-shadow:0 0 10px 0 rgba(0,0,0,.15);
    padding-bottom: 2%;
}
#Blog-div img{
    width:100%
}
#Blog-div1{
    margin: 2% 10% 2% 4%;
}
#Blog-div1 h2{
    font-weight: 700;
    margin: 2% 1%;
}
#Blog-div1 p{
    font-weight: 400;
    margin: 3% 1%;
    line-height: 23px;
}
#Blog-div1 button{
    border: none;
    color: #fff;
    font-size: 1rem;
    background-color:  #6bb7be;
    width: 40%;
    height: 40px;
}


