#top {
    display: flex;
    flex-wrap: wrap;
    margin: 0 6%;
    overflow: hidden;
}

.top1 {
    width: 50%;
    background-color: #fff;
}

.topimg {
    width: 50%;
    display: flex;
    animation-name: topimg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: all 1.5s ease-in-out!important;
    position: relative;
    z-index: -1;
}

@keyframes topimg{
    0%{
        transform:translateX(0%) ;
    }

    50%{
        transform:translateX(-100%);

    }
    100%{
        transform:translateX(-200%);
    }
}

.topimg img{
    width: 100%
}

.top2 {
    width: 100%;
    background-color: #00B98E !important;
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    position: relative;
}

#top .arrow {
    position: absolute;
    width: 20%;
    top: 34.5%;
    left: 48%;
}

.arrow .arr {
    margin-top: 2%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #00B98E;
    color: #fff;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* inside-div top1*/

.top1 h1 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 3.2rem;
    margin: 17% 6% 1% 6%;
    font-family: "Inter", sans-serif;
    color: #0E2E50
}

.top1 span {
    color: #00B98E;
}

.top1 p {
    color: #666565;
    margin: 4% 6% 9% 6%;
    font-family: "Heebo", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5
}

.top1 .t-a{
    margin: 10% 6%;
    padding: 3% 6%;
    color: #fff;
    background-color: #33c7a5;
    border-color: #1ac099;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 1.05rem;
    font-family: "Heebo", sans-serif
}



/* inside-div top2*/
.top2 input {
    width: 25%;
    line-height: 1.5;
    padding: 1.6% 1%;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #666565;
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    cursor: default;
}

.top2 #search {
    cursor: text;
}

.top2 .down {
    position: absolute;
    left: 54%;
    top: 41%;
    color: #666565;
}

.l-d {
    left: 81% !important;
}

.top2 button {
    width: 13%;
    border: none;
    cursor: pointer;
    background-color: #0c2744;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
}

/* floater */


.float {
     margin: 6% 9% 0 8%;
    padding: 2%; 
    width: 180%;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.part1 {
    display: flex;
    width: 20%;
    align-items: center;
    cursor: pointer;

}

.part2 {
    width: 40%;
    margin-left: 28%;
    display: flex;
    align-items: center;
}
.part2 .down1{
    cursor: pointer;
}
.part3 {
    width: 12%;
    border: none;
    display: flex;
    justify-content: end;
}

#dotted {
    width: 20%;
    border-radius: 50%;
    border: 1px dashed #33c7a5;
    padding: 4% 2%;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part1 h1 {
    width: 75%;
    margin: 1%;
    margin-left: 5%;
    font-size: 2.8rem;
    color: #00B98E;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 1.2;

}

#dotted img {
    width: 80%;
    height: 80%;
}

.top1 .part2 a {
    text-decoration: none;
    margin-left: 6%;
    font-weight: 600;
    font-family: "Heebo", sans-serif;
    color: #0E2E50;
    font-size: .95rem;
}

.part2 .diff {
    color: #00B98E!important;
}

.part2 .down {
    padding-top: .2%;
}

.part3 a {
    background-color: #33c7a5;
    color: #fff;
    font-family: "Heebo", sans-serif;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 7%;
    border-radius: 5px;
    margin-right: 2%;
}



/* hover */

.part2 a:hover {
    color: #00B98E;
}
.arrow .arr:hover {
    background-color: #0E2E50;
}