.wrapper {
    width: 30%;
    height: 100%;
    background-color: #fff;
    margin-top: 3%;
    box-shadow: 0 0 20px rgb(28, 25, 25);
    border-radius: 15px;
    overflow: hidden;
    animation-name: zoom;
    animation-iteration-count: 1;
    animation-duration: .7s;
    transition: ease-in;

}

@keyframes zoom {
    0% {
        transform: scale(.7);
    }

    100% {
        transform: scale(1);
    }
}

.wrapper .img {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 400px;
    height: 270px;
    border: 4px solid black;
    border-radius: 11px;
    margin-top: 7%;
}

.cont {
    width: 100%;
    height: 60%;
}

.image {
    font-size: 2rem;
    color: black;
    position: absolute;
    z-index: 999;
}

.title {
    text-align: center;
    margin: 3% 0;
}

.rate {
    display: flex;
    justify-content: center;
}

.icon {
    color: rgb(211, 165, 13);
}

.desripc {
    text-align: center;
    margin: 4% 8%;
    height: 70px;
    color: rgba(61, 60, 60, 0.5);
}

.sell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 6%;
}

.store {
    display: flex;
    justify-content: space-between;
    margin: 3% 6% 6% 6%;
}

.symbol {
    color: rgb(62, 138, 62);
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 4%;
}

.discount {
    border: 3px solid rgb(31, 31, 34);
    padding: 1% 2%;
    border-radius: 10px;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        /* border: 3px solid rgb(48, 196, 97); */
        background-color: rgb(224, 224, 75);
        color: #fff;
    }

    50% {
        /* border: 3px solid rgb(35, 22, 218); */
        background-color: rgb(164, 144, 238);
        color: #fff;
    }

    100% {
        /* border: 3px solid rgb(36, 32, 39); */
        background-color: rgb(236, 120, 66);
        color: #fff;
    }
}

.discount:hover {
    background-color: aquamarine;
    color: #fff;
}

.cat {
    color: cornflowerblue;
    border-bottom: 5px double violet;
}

.instock {
    color: cornflowerblue;
    border-bottom: 5px double violet;
}

.money {
    width: 20%;
    animation-name: shrink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 1s ease-in-out;
}

@keyframes shrink {
    0% {
        transform: rotate(0deg);
        transform: scale(.5);
    }

    100% {
        transform: rotate(45deg);
        transform: scale(1.7);
    }
}

.price {
    display: flex;
    align-items: center;
}