.T-outer{
    width: 41%;
    padding: 1%;
    background-color: #EFFDF5 !important;
    border-radius: 5px;
}
.T-inner{
    border: 1px dashed rgba(0,185,142,.3)!important ;
    background-color: #fff;
    border-radius: 5px;
}
.T-inner p{
    margin: 4% 5% 2.5% 5%;
    text-align: left;
}
.Cl-img{
    display: flex;
}
.Cl-img img {
    width: 10%;
    height: auto;
    border-radius: 5px;
    margin:0 5% 5% 5%;
}
.Cl-cont h4{
    font-family: "Inter",sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #0E2E50;
    margin: 2% 0 3% 0;
    font-size: 1.1rem;
}
.Cl-cont small{
    font-family: "Heebo",sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
}



@media only screen and (min-width:150px)and (max-width:480px){
    .T-outer{
        width: 80%;
        margin-bottom: 3%;
    }
}
@media only screen and (min-width:480px)and (max-width:720px){
    .T-outer{
        width: 80%;
        margin-bottom: 3%;
    }
}
@media only screen and (min-width:720px)and (max-width:1000px){
    
}
